body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFF7EA;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 414px; /* Set width to 414px */
    height: 80px; /* Set height to 35px */
    padding: 0 15px; /* Remove top and bottom padding, keep left and right padding */
    background-color: #623F19; /* Light background color */
    color: #FFF; /* Change text color to white for better contrast */
    margin: 0 auto; /* Center the header horizontally */
}


.logo img {
    width: 80px; /* Adjust the logo size as needed */
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}

main {
    padding: 20px;
    text-align: center;
}

.content h1 {
    font-size: 24px;
    color: #3a2f23; /* Dark brown */
}

.content p {
    font-size: 16px;
    color: #000000; /* Medium brown */
}

.order-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3a2f23; /* Dark brown */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.image-section img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}
